.guarantee {

    img {
        max-width: 100%;
    }
    .img-seal {
        object-fit: contain;
        height: 175px;
        object-position: center;
    }
    

    .guarantee__signature {
        order: 2;
    }
    .img-signature {
        object-fit: contain;
        object-position: center;
        position: relative;
        &:after {
            display: block;
            position: absolute;
            padding: 0;
            margin: 0;
            content: "";
            width: 20%;
            max-width: 60px;
            height: 51px;
            background-color: #0f2453;
            left: 0;
        }
    }
    hr {
        width: 100%;
    }

    .guarantee__wrap {
        padding: 20px;
        p {
            margin-bottom: 0;
        }
    }
    .img-round {
        order: 1;
        object-fit: contain;
        height: 125px;
        width: 125px;
        border-radius: 100%;
        margin: 0 auto;
    }
  
  
    .guarantee__details {
        order: 3;
    }
    @media(min-width: 768px){
        .guarantee__signature {
            order: 1;
        }
        .img-round {
            order: 2;
            margin: auto 0;
        }
    }
}

#guarantee-modal {
  
    .modal-dialog {
        max-width: 800px;
        width: 100%;
    }
    img {
        max-width: 100%;
        object-fit: contain;
        height: inherit;
    }
}

#api-hours-target {
    &.hidden {
        
        @media(min-width: 768px){
            display: none !important;
            
        }
    }
}
